<!DOCTYPE html>

<html>

	<head>

		<!--Meta-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--Embed META-->
		<meta property="og:site_name" content="Nexark">
		<meta property="og:url" content="https://nexark.bob8552.repl.co/"> <!--URL must be changed-->
		<meta property="og:title" content="Nexark website">
		<meta property="og:description" content="Nexark runs a social network where people can discuss coding and other things.">
		<meta property="og:type" content="website">
		<meta name="og:image" itemprop="image" content="/images/nexark.png">

		<!--Title-->
		<title>Nexark Info Hub</title>

		<!--Resources-->
		<link rel="stylesheet" href="/style.css"></link>
		<script src="/app.js"></script>
		<link rel="icon" href="/images/nexark.png">

		<!--Packages-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
		<script defer src="https://nexark.bob8552.repl.co/socket.io/socket.io.js"></script>
		<!--Angular.js-->
		<script type="text/javascript">
			var app = angular.module("myApp", ['ngRoute']);

			app.controller("HomeController", function($scope) {
				$scope.Home = "Home";
			});

			app.controller("GamesController", function($scope) {
				$scope.Games = "Games";
			});

			app.controller("AboutController", function($scope) {
				$scope.About = "About";
			});

			app.controller("NewsController", function($scope) {
				$scope.News = "News";
			});

			app.controller("ChatController", function($scope) {
				$scope.Chat = "Chat";
			});

			app.controller("TOSController", function($scope) {
				$scope.TOS = "TOS";
			});

			app.config(function($routeProvider) {

				$routeProvider

				.when('/', {
					templateUrl : 'pages/home.html',
					controller  : 'HomeController'
				})

				.when('/about', {
					templateUrl : 'pages/about.html',
					controller  : 'AboutController'
				})

				.when('/games', {
					templateUrl : 'pages/games.html',
					controller  : 'GamesController'
				})

				.when('/news', {
					templateUrl : 'pages/news.html',
					controller  : 'NewsController'
				})

				.when('/TOS', {
					templateUrl : 'pages/TOS.html',
					controller  : 'TOSController'
				})

				.otherwise({redirectTo: '/'});

			});
		</script>

	</head>

	<body ng-app="myApp">

		<!-- Side navigation -->
		<div class="sidenav">
			<a href="#/">Home <image src="/images/HOME.png" width="30"></image></a>
			<a href="#/games">Games <image src="/images/games.png" width="30"></image></a>
			<a href="#/news">News <image src="/images/news.png" width="30"></image></a>
			<a href="#/TOS">Nexark Coven TOS <image src="/images/chat.png" width="30"></image></a>
			<a href="#/about">About <image src="/images/aboutus.png" width="25"></image></a><br>
			<hr>
			<small>Nexark Studios, 2020 ©</small>
		</div>

		<!-- Page content -->
		<div class="main" style="background-color:#9baccc;">
			
			<!--Navbar-->
			<nav role="navigation" class="navbar navbar-light bg-light navbar-expand-lg sticky" id="navbarSupportedContent">

				<!--Main Badge-->
				<a class="navbar-brand" href="#/">
					<img src="images/nexark.png" width="30" height="30" loading="lazy"/>
					Nexark
				</a>

				<!--Left entries-->
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href="https://nexark-coven.tribe.so/">Nexark Coven</a>
					</div>
				</div>

			</nav>
			<hr>

			<!--VIEWS-->

			<!--Home-->
			<script type="text/ng-template" id="pages/home.html">

				<h4>Welcome!</h4>
				Feel free to click the links on the overhead bar or on the sidebar.<br><br>
				<h5 style="font-style:italic;">An introduction</h5>
				Nexark runs a small social network where people can discuss and share development, coding, art and other related things. We also make HTML games.
				<br><br>
				<small>Confused? Why not check out our games <a href="#/games">here</a></small><br>			
				<small>Want to speak to us? <a href="https://discord.gg/HwPceKs">Join us on discord!</a></small><br>
				<small>Check out nexark coven <a href="https://nexark-coven.tribe.so/">here</a></small>

			</script>

			<!--About us-->
			<script type="text/ng-template" id="pages/about.html">

				<h4>About us</h4>
				Nexark runs a small social network where people can discuss and share development, coding, art and other related things. We also make HTML games.<br>
				<br><br>
				<iframe src="https://discord.com/widget?id=752090470087131236&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
				<br><br>
				<small>Want to speak to us? <a href="https://discord.gg/HwPceKs">Join us on discord!</a></small><br>
				<small>Check out nexark coven <a href="https://nexark-coven.tribe.so/">here</a></small>

			</script>

			<!--News-->
			<script type="text/ng-template" id="pages/news.html">

				<h4>News, Updates & Information</h4>
				Here you can find news and information about the website.<br>
				We recommend you join the discord server to stay updated on our games and nexark coven.
				<hr>

				<div class="card"style="width: 18rem;">
					<div class="card-body">
						<p>26/9/2020 - Nexark website update.</p><br>
						<small>The site was refurbished and new icons and colours were added.</small>
					</div>
				</div>

				<hr>
				<small>Confused? Why not check out our games <a href="#/games">here</a></small><br>			
				<small>Want to speak to us? <a href="https://discord.gg/HwPceKs">Join us on discord!</a></small><br>
				<small>Check out nexark coven <a href="https://nexark-coven.tribe.so/">here</a></small>

			</script>

			<!--Games-->
			<script type="text/ng-template" id="pages/games.html">

				<h4>See all games made by Nexark</h4>
				You can suggest ideas for a game if you want.

				<br><br>

				<div class="card" style="width: 25rem;">
					<div class="card-body">
						<image style="float:right;"src="/images/succinc.png"></image>
						<h6>Sug Simulator</h6>
						<p>Research particles at a facility! by Neo238 and Drags890</p>
						<button onclick="redirect('https://sug-simulator.bob8552.repl.run/')">Play</button>
					</div>
				</div><br>

				<div class="card" style="width: 25rem;">
					<div class="card-body">
						<h6>New game!</h6>
						<p>Coming soon...</p>
						<button disabled="disabled">Play</button>
					</div>
				</div>
			
			</script>

			<script type="text/ng-template" id="pages/points.html">

				<h4>What are Nexark points?</h4>
				<p>You can earn Nexark points by visiting our games!</p><br>

				<p>Points</p>
				<p id="points">{{ points || "0" }}</p>

			</script>

			<script type="text/ng-template" id="pages/TOS.html">

				<h4>Nexark Coven TOS.</h4>
				<p>Please read everything carefully before using our social site to avoid getting banned.</p><br>

				<h6>Safety</h6>
				<p>Please do not use swear words on the social site and please do not post or mention NSFW. Doxxing is also banned. If you are caught doxxing, you will be terminated. Fraud is also banned on our site.</p>

				<h6>Reporting</h6>
				<p>Please report all bad behaviour to us on the discord server, remember to include proof.</p>

				<h6>Feedback and bugs</h6>
				<p>If you have any suggestions, feedback or bugs, please send them to us in the discord server. If you are reporting a bug, remember to include proof.</p>

				<h6>Raids</h6>
				<p>If you raid our server or network, we have full rights to terminate you on our site, and ban you from our server.</p>

				<h6>Rules when posting</h6>
				<p>Please make sure your post dosen't break any rules above. Please think before you post and make sure your post is absolutely necessary. Do not spam posts, we recommend you post at a maximum of 3 times a day.</p>

				<h4>Enforcement of rules</h4>
				<p>Breaking the rules can get you suspended for a period of time, however repeatedly breaking the rules will get you permenantly deleted.</p>

			</script>

			<!--Make the view-->
			<div class="card">
				<div class="card-body">
						<div ng-view></div>
				</div>
			</div>

			<hr>
			<footer><small>Nexark Studios © 2020</small></footer>

		</div>

	</body>

</html>